<div id = 'top_bar'>
		<img src = 'https://www.tacitkey.com/wp-content/uploads/2018/02/Freshworks-logo.png' id = 'logo'/>
		<div id = 'menu_bar'>
			<ul>
				<li>{{#link-to 'home'}}Home{{/link-to}}</li>
				<li>{{#link-to 'questions'}}Questions{{/link-to}}</li>
				<li>{{#link-to 'answers'}}Answers{{/link-to}}</li>
				<li>{{#link-to 'signout'}}Signout{{/link-to}}</li>
			</ul>
		</div>
</div><br>